<div>
    <!-- 
    <div class="row">
        <div class="col-sm-12 hidden-md hidden-lg">
          <h3 style="margin-top: 0px;">Bookmark:
            <button id="btnSave" class="btn btn-primary pull-right" class="btn btn-primary btn-block" ng-click="saveBookmarkIndex()">Save Bookmark Index</button>
          </h3>
        </div>
    </div> 
    -->
    <div class="row">
        <div class="col-sm-12">
                <ul class="list-inline">
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_tmp'}" 
                        href="#/main/bookmark/page/li_express_bookmark_page_tmp">Tmp</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_game'}" 
                        href="#/main/bookmark/page/li_express_bookmark_page_game">Game</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_ts'}" 
                        href="#/main/bookmark/page/li_express_bookmark_page_ts">TypeScript</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_js'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_js">JS</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_js_angular'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_js_angular">Angular</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_js_react'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_js_react">React</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_js_vue'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_js_vue">VueJS</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_game_dev'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_game_dev">GameDev</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_js_accessibility'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_js_accessibility">Accessibility</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_buy'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_buy">Buy</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_novel'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_novel">Novel</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_other_1'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_other_1">1</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_other_2'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_other_2">2</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_other_3'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_other_3">3</a>
                    </li>
                    <li>
                        <a 
                        class="nav-link btn btn-default" 
                        ng-class="{'active': noteHash === 'li_express_bookmark_page_trash'}"  
                        href="#/main/bookmark/page/li_express_bookmark_page_trash">Trash</a>
                    </li>
                </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div ui-view></div>
        </div>
    </div>


</div>