<div>
    
    <!-- 
    <div class="row">
        <div class="col-sm-12 hidden-md hidden-lg">
          <h3 style="margin-top: 0px;">Bookmark:
            <button id="btnSave" class="btn btn-primary pull-right" class="btn btn-primary btn-block" ng-click="saveBookmarkIndex()">Save Bookmark Index</button>
          </h3>
        </div>
    </div> 
    -->

    <div class="row">
        <div class="col-sm-12">
                <ul class="list-inline">
                    <li>
                        <a class="nav-link active" href="#/main/bookmark/page/li_express_bookmark_page_tmp">Tmp</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="#/main/bookmark/page/li_express_bookmark_page_js">JS</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="#/main/bookmark/page/li_express_bookmark_page_buy">Buy</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="#/main/bookmark/page/li_express_bookmark_page_trash">Trash</a>
                    </li>
                </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div ui-view></div>
        </div>
    </div>


</div>