img { 
    max-width: 100%; 
    height: auto; 
}

.th_box{
    width: 100%;
}
.th_box_div{
    min-height: 180px;
    background-color: #DDD;
    border-radius: 8px;
    padding: 8px;
    margin:8px;
}

.th_reply_box_div{
    min-height: 160px;
    background-color: #CDC;
    border-radius: 0px;
    padding: 8px;
    margin:8px;
}

