<form onsubmit="return false;">
<div class="row">
    <div class="row">
        <div class="col-xs-3">
            <div>
                <button type="button" class="btn btn-default " ng-click="EnableTextareaEdit()">
                    <span ng-show="flagTextareaEdit">View Topic</span>
                    <span ng-hide="flagTextareaEdit">Editing Topic</span>

                </button>
            </div>
        </div>
        <div class="col-xs-3">
            <div>
                <!--<button type="button" class="btn btn-default " ng-click="flagReply = !flagReply">Reply</button>-->
            </div>
        </div>
        <div class="col-xs-3">
            <div ng-if="flagTextareaEdit">
                <button type="button" class="btn btn-danger pull-right " ng-click="clearNote()">Delete</button>
            </div>
        </div>
        <div class="col-xs-3">
            <div ng-if="flagTextareaEdit">
                <button type="button" class="btn btn-warning pull-right " ng-click="saveNote()">Save</button>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
<div class="row">
    <div class="col-sm-12">
        <input class="form-control" type="hidden" ng-model="liNote.item.meta" placeholder="url">
        <textarea ng-show="flagTextareaEdit"
                class="form-control"
                style="min-height:240px; font-size: x-large;"
                ng-model="note.content"
        ></textarea>
        <div ng-hide="flagTextareaEdit">
            <pre ng-bind="note.content" style="font-size: x-large;"></pre>
        </div>
    </div>
</div>

<div class="row">
  <div ng-repeat="item in note.threads" class="col-sm-12" style="border-right: solid gray 1px;">
      <h4 style="padding-left: 10px;" ><span ng-bind="item.nickname"></span><span ng-if="item.nickname && item.nickname !== ''"> :</span></h4>
      <pre ng-bind="item.content" style="font-size: large;">

        </pre>
  </div>
</div>
<div class="row" ng-hide="flagReply">
    <div class="col-sm-1 pull-right">
        <button type="button" class="btn btn-primary " ng-click="flagReply = !flagReply">Reply</button>
    </div>
</div>
    <div class="row" ng-show="flagReply">
        <div class="col-sm-12">
            <input
                    class="form-control"
                    placeholder="Nick Name"
                    style="min-height:30px; font-size: x-large;"
                    ng-model="thread.nickname"
            />
        </div>
        <div class="col-sm-12">
            <textarea
                      class="form-control"
                      placeholder="Content"
                      style="min-height:30px; font-size: x-large;"
                      ng-model="thread.content"
            ></textarea>
        </div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-warning pull-right " ng-click="saveThreads()">Save</button>
        </div>
    </div>
</form>
