<form onsubmit="return false;">
    {{currentDateTimeStr}}
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-3">
                <div>
                    <button type="button" class="btn btn-default " ng-click="EnableTextareaEdit()">
                        <span ng-show="flagTextareaEdit">View Topic</span>
                        <span ng-hide="flagTextareaEdit">Editing Topic</span>
                    </button>
                </div>
            </div>
            <div class="col-xs-3">
                <div>
                    <button type="button" class="btn btn-default " ng-click="init()"><i class="glyphicon glyphicon-refresh"></i></button>
                </div>
            </div>
            <div class="col-xs-3">
                <div ng-if="flagTextareaEdit">
                    <button type="button" class="btn btn-danger pull-right " ng-click="clearNote()">Delete</button>
                </div>
            </div>
            <div class="col-xs-3">
                <div ng-if="flagTextareaEdit">
                    <button type="button" class="btn btn-warning pull-right " ng-click="saveNote()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
<div class="row">
    <div class="col-sm-12">
        <input class="form-control" type="hidden" ng-model="liNote.item.meta" placeholder="url">
        <textarea ng-show="flagTextareaEdit"
                class="form-control"
                style="min-height:240px; font-size: x-large;"
                ng-model="note.content"
        ></textarea>
        <div ng-hide="flagTextareaEdit">
            <div ng-bind="note.content" style="white-space: pre; font-size: x-large;"></div>
        </div>
    </div>
</div>

<div class="row">
  <div ng-repeat="item in note.threads" class="col-sm-12" style="">
      <div style="border: 2px solid gray; margin-top:4px; margin-left:8px;">
          <h4 style="overflow:hidden; margin-left:8px;margin-right:8px; padding:3px; background-color:#AAA;">
              <span ng-bind="item.nickname"></span><span ng-if="item.nickname && item.nickname !== ''"> :</span>
              <span class="pull-right" ng-bind="item.datetime"></span>
          </h4>
          <div style="margin-left:8px;margin-right:8px;white-space: pre; font-size: large;" ng-bind="item.content">
          </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
        &nbsp;
    </div>
</div>
<div class="row" ng-hide="flagReply">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary pull-right" ng-click="flagReply = !flagReply">Reply</button>
    </div>
</div>
    <div class="row" ng-show="flagReply">
        <div class="col-sm-12">
            <input
                    class="form-control"
                    placeholder="Nick Name"
                    style="min-height:30px; font-size: x-large;"
                    ng-model="thread.nickname"
            />
        </div>
        <div class="col-sm-12">
            <textarea
                      class="form-control"
                      placeholder="Content"
                      style="min-height:30px; font-size: x-large;"
                      ng-model="thread.content"
            ></textarea>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-warning pull-right " ng-click="saveThreads()">Save</button>
        </div>
    </div>
</form>
